.full_page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 300px 1fr 1fr;
}

.hero_fp{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
}

.hero_image{
    width: 100%;
    height: auto;
    grid-row: 2/-1;
    grid-column: 1/-1;
    justify-self: center;
}

.main_text_fp{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 6rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 0;
}

//INSTRUCTORS//
.fp_headshot_td {
    position: relative;
    display: inline-block;
    list-style: none;
}

.fp_headshot_td .fp_small_bio_on {
    width: 250px;
    background-color: rgba(75, 69, 58, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 11px 0;
    /* top: 90px; */
    left: 0;
    z-index: 1;
    font-size: .8em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -80px;
    margin-right: 90px;
}


.instructor_fp{
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 1fr;
    
}

.fp_instructor_table{
   grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
   
}
.instructors_fp_style{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 12px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;
}

.table_fp_head{
    justify-self: center;
    align-self: center;


}
.fp_table_text{
    text-align: center;
    font-family: "brother-1816",sans-serif;
    color: white;
    margin-bottom: 30px;
}

.fp_headshot_small{
    height: auto;
    width: 100px;
    border-radius: 25%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -110px;
    margin-bottom: -20px;
}
.fp_headshot_td{
    min-width: 117px;
}
.fp_small_bio_on{
   float: right;
}
.fp_small_bio_off{
    display: none;
}
//DANCE STYLES//

.fp_dance_styles{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}


.fp_dance_styles_page{
    
    height: 100%;
}
.fp_block{
    width: 100%;
    height: auto;
}




.fp_styles_menu{
    display: grid;
    grid-template-rows: 120px 120px 120px 120px 1fr;
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-gap: 10px;
}

.fp_curved-edges {
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 50%;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
  
}

.fp_dance_style_head{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 65px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;

}
.fp_dance_style_head_fade{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 65px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;
    opacity: .5;

}

.fp_block_one{

    grid-row: 2/3; 
    grid-column: 2/3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    margin-bottom: 5px;

}
.fp_style_image_one{
    grid-row: 1/-1;
    width: 197%;
    height: auto;
    grid-column: 1/-1;
    /* -webkit-clip-path: polygon(20% 34%, 82% 34%, 82% 65%, 20% 65%); */
    /* clip-path: polygon(20% 34%, 82% 34%, 82% 65%, 20% 65%); */
    margin-top: -263px;
    /* justify-self: center; */
    /* align-self: center; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: -80px;
}





.fp_block_two{
    grid-row: 2/3;
    grid-column: 3/4;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
    }

.fp_style_image_two{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    align-self: center;
    margin-top: -165px;
    margin-left: -7px;
    }
    
    .fp_block_three{
        grid-row: 2/3;
        grid-column: 4/5;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 5px;
        }
    
.fp_style_image_three{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    align-self: center;
    margin-top: -167px;
}

.fp_block_four{
    grid-row: 3/4;
    grid-column: 2/3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
    }

.fp_style_image_four{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    margin-left: -94px;
    align-self: center;
    margin-top: -240px;
}

.fp_block_five{
    grid-row: 3/4;
    grid-column: 3/4;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
}
.fp_style_image_five{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    margin-left: -64px;
    align-self: center;
    margin-top: -157px;

}


.fp_block_six{
    
    grid-row: 3/4;
    grid-column: 4/5;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;}

.fp_style_image_six{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    margin-left: -64px;
    align-self: center;
    margin-top: -179px;
}



.fp_block_seven{
    grid-row: 4/5;
    grid-column: 2/3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
}
.fp_style_image_seven{
    grid-row: 1/-1;
    width: 190%;
    height: auto;
    grid-column: 1/-1;
    margin-left: -74px;
    align-self: center;
    margin-top: -190px;
}

.fp_style_block_text{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: left;
    align-content: center;
    margin-top: 52px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;

}
//FOOTER//
.fp_find_us_grid{
    height: 100vh;
    grid-column: 1/-1;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 50px 50px 300px;

    overflow: hidden;
}
.fp_find_us_page{
    background: linear-gradient(to bottom right, #e222e4, #000000);
    height: 100vh;
}
.footer_schedule_button{
    grid-row: 3/4;
    grid-column: 3/-2;
    justify-self: center;
    /* margin-right: 90px; */
    /* align-self: end; */
    margin-top: 110px;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.schedule_image_holder{
    grid-column: -3/-2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.schedule_image{
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 240px;
    justify-self: center;
    align-self: end;

}
.fp_big_map{
    width: 100%;
    height: auto;
    grid-row: 3/4;
    grid-column: 1/-1;
    -webkit-clip-path: polygon(0.2% 25%, 100% 25%, 100% 75%, 0.2% 75%);
    clip-path: polygon(0.2% 25%, 100% 25%, 100% 75%, 0.2% 75%);
    justify-self: center;
    align-self: self-start;
    margin-top: -70px;

}

.fp_big_address{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    font-family: "brother-1816",sans-serif;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-top: 14%;
    z-index: 6;
}
.fp_find_us_title{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 48px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;
}
.fp_gray_scale{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #4b453a;
    z-index: 2;
    opacity: 0.8;
}

//MENU//

.fp_menu{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
}
.page_nav{
    grid-column: 2/5;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fp_styles_button{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: inherit;
    align-items: flex-end;
    border: none;
    background-color: white;

}

.fp_menu_icon{
    height: 35%;
    width: auto;
    grid-column: 1/2;
    margin-top: 32px;
    grid-row: 1/-1;
    align-self: center;
    justify-self: end;
    margin-bottom: -12px;
}

.fp_menu_text{
    font-family: "brother-1816",sans-serif;
    z-index: 4;
    color: #303030;
    font-weight: 400;
    font-size: 1.2em;
    grid-column: 2/3;
    margin-left: 5px;
    margin-bottom: 12px;
}

.fp_teachers_button{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: inherit;
    align-items: flex-end;
    border: none;
    background-color: white;
}

.fp_find_us_button{
    grid-column: 4/5;
    display: grid;
    grid-template-columns: 50px 100px;
    justify-items: inherit;
    align-items: flex-end;
    border: none;
    background-color: white;
    width: 90px;
}
.soc_me{
    grid-column: 5/-2;
    grid-row: 1/-1;
    justify-self: end;
    align-self: center;
    margin-top: 14px;
}
.fp_soc_icon{
    height: 29px;
    width: auto;
    margin-right: 7px;
    opacity: 0.8;
    border-radius: 30px;
}

.soc_button{
    background-color: white;
    border: none;
}

//FULL STYLES//

.fp_full_style{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    
    align-self: center;
    display: grid;
    grid-template-rows: 120px 120px 160px 120px 1fr;
    grid-template-columns: 1fr 300px 300px 300px 1fr;

}

.fp_left_menu{
    grid-column: 1/4;
    grid-row: 2/-2;
    
    z-index: 2;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.fp_left_overlay{
    background-color: #303030;
    opacity: 0.8;
    border-radius: 0 47px 47px 0;
    grid-column: 1/-2;
    grid-row: 2/-2;
    z-index: -2;
}
.fp_big_style_image{
    grid-column: 2/5;
    grid-row: 2/-1;
    height: auto;
    width: 100%;
    overflow: hidden;
    webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 83.5%, 0 83.5%);
    clip-path: polygon(0% 20%, 100% 20%, 100% 83.5%, 0 83.5%);
    margin-bottom: -186px;
    margin-top: -120px;
}
.fp_teacher_list{
    list-style: none;
    float: right;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: flex-start;
    align-items: center;
    z-index: 3;
}
.fp_teacher_list_name{
    list-style: none;
    float: right;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: flex-start;
    align-items: center;
    z-index: 3;
}
.fp_description{
    grid-column: 2/-1;
    grid-row: 3/4;
    font-family: "brother-1816",sans-serif;
    color: #f5f5f5;
    font-weight: 200;
    justify-self: center;
    margin-right: 221px;
    font-size: 1.26rem;
    text-align: center;
    list-style: none;
    margin-top: -40px;
    
}
.fp_right_menu{
    grid-column: 4/-1;
    grid-row: 2/-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 5;
}
.fp_bio{
    grid-column: 1/-1;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 77px;
    z-index: 2;
    padding-right: 20px;
    padding-bottom: 89px;
   
   
}

.fp_bio_name{
    font-family: "brother-1816",sans-serif;
    color: #f5f5f5;
    font-weight: 200;
    justify-self: center;
    /* margin-right: 221px; */
    font-size: 1.26rem;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 1.6rem;
}

.fp_bio_text{
    font-family: "brother-1816",sans-serif;
    color: #f5f5f5;
    font-weight: 200;
    justify-self: center;
    /* margin-right: 221px; */
    font-size: 1.26rem;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-right: 10px;
    margin-left: 10px;
}

.fp_bio_data{
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    justify-self: center;
    background-color: #303030;
    opacity: 0.8;
    background-size: 200px 300px;
    border-radius: 25px 0 25px 25px;
}

.fp_right_overlay{
    background-color: #000000;
    opacity: .4;
    border-radius: 47px 0 0 47px;
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.fp_style_name{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: #303030;
    grid-column: -3/-1;
    grid-row: 4/5;
    text-align: left;
    /* align-content: center; */
    /* margin-bottom: 62px; */
    margin-top: -70px;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 2;
    margin-left: 70px;
}

.fp_schedule_button{
    grid-row: 3/5;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    z-index: 5;
    margin-right: 15px;
}
.fp_right_styles_button{
    grid-column: -5/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50px 109px;
    background-color: #fafafa;
    border: none;
}
.fp_right_menu_icon{
    height: 25px;
    width: auto;
    grid-column: 1/2;
    margin-top: 32px;
    grid-column: 1/2;
    /* align-self: flex-start; */
    /* justify-self: end; */
    margin-top: 20px;
    margin-left: 16px;
    opacity: .8;
}
.fp_right_menu_text{
    font-family: "brother-1816",sans-serif;
    z-index: 4;
    color: #303030;
    font-weight: 400;
    font-size: 1.2em;
    grid-column: 2/3;
    margin-left: -1px;
    margin-top: -21px;

}



.topbutton{
    height: 50px;
    width: auto;
    position: fixed; /* Fixed/sticky position */
    bottom: 132px;
    opacity: .7;
    left: 73px;
}