body{
    background-color: white;
 }
.main
{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 300px 1fr 1fr 1fr 1fr;
    grid-row: 1/-1;
    grid-column: 1/-1;
    overflow: hidden;
    height: 1350px;
}
.main_image{
    grid-row: 2/3;
    grid-column: 1/-1;
    width: auto;
    height: 72%;
}
.main_title{
    font-family: 'brother-1816', sans-serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -4px;
    font-size: 5rem;
    color: rgb(48, 48, 48);    
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
    margin-top: 27px;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 1;
}
.menu_block{
    grid-row: 1/-1;
}



.menu_images{
    height: 50px;
    width: auto;
    justify-self: flex-start;
    align-self: center;
    opacity: 1;
    transition: height .5s;
    margin-left: 2px;
}

.menu_title{
    font-family: "brother-1816",sans-serif;
    color: #4b453a;
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    opacity: 1;
    transition: opacity .5s;
}
.big_button_image{
    display: none;
}
.bar {
    display: none;
}


/*@keyframes example {
    from {left: 0;}
    to {left: 50%;}
}

.bar{
    display: inline;
    background-color: black;
    height: 100%;
    width: 50px;
    grid-row: 2/3;
    justify-self: center;
    opacity: .3;
    position: absolute;
    left: 0;
    z-index: 2;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    animation-name: example;
    animation-duration: 4s;

}
*/

