body{
    background-color: white;
 }
.main
{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px auto auto auto auto auto;
    grid-row: 1/-1;
    grid-column: 1/-1;
}
.main_image{
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 102%;
    height: auto;
    margin-top: 74px;
}
.main_title{
    font-family: lust-script-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    color: white;    
    grid-column: 1/-1;
    grid-row: 3/4;
    text-align: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: left .5s,font-size .5s;
    transition: left 1s, font-size 1s;
    z-index: 1;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.menu_block{
    grid-row: 1/-1;
}



.menu_images{
    height: 50px;
    width: auto;
    justify-self: flex-start;
    align-self: center;
    opacity: 1;
    transition: height .5s;
    margin-left: 2px;
}

.menu_title{
    font-family: "brother-1816",sans-serif;
    color: #4b453a;
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    opacity: 1;
    transition: opacity .5s;
}
.big_button_image{
    display: none;
}
.bar {
    display: none;
}


/*@keyframes example {
    from {left: 0;}
    to {left: 50%;}
}

.bar{
    display: inline;
    background-color: black;
    height: 100%;
    width: 50px;
    grid-row: 2/3;
    justify-self: center;
    opacity: .3;
    position: absolute;
    left: 0;
    z-index: 2;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    animation-name: example;
    animation-duration: 4s;

}
*/

